@charset "UTF-8";
/*colores*/
/*tipos de letra*/
/*Border color*/
/*Boton*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f1cbcb;
  flex-wrap: wrap; }
  .header__logotitulo {
    display: flex; }
  .header__logo {
    width: 5rem; }
  .header__navegacion {
    background-color: #f1cbcb;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap; }

.footer__redes {
  grid-area: footer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f1cbcb; }

.footer__instagram {
  width: 3rem; }

.footer__youtube {
  width: 3rem; }

* {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif; }

.grid__container {
  display: grid;
  border: 5px solid black;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  gap: 10px; }

a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-family: Dancing Script, italic;
  font-size: xx-large; }
  a :hover {
    background-color: #f1cbcb;
    color: black;
    transform: translate(10px); }
  a :visited {
    color: brown; }

.container-fluid {
  background-color: #f1cbcb; }

h1 {
  color: black;
  font-size: 3rem;
  font-style: italic;
  font-family: Dancing Script, italic;
  padding: none; }

li {
  display: inline;
  padding: 1rem; }

ul {
  list-style-type: none; }

h2 {
  color: black;
  font-style: italic;
  font-family: Dancing Script, italic;
  text-align: center;
  font-size: xx-large; }

h3 {
  color: black;
  font-size: 2rem;
  font-style: italic; }

.main__informacion {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  .main__informacion .carousel {
    width: 70%; }
  .main__informacion .carousel__velas {
    margin-left: 0%;
    margin-right: 0%; }

.section__canal {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.section__ubicacion {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.container .rounded {
  height: 20rem;
  background-color: #f1cbcb;
  padding: 1rem;
  margin: 2rem;
  width: 25rem;
  border-style: groove; }

.container .rounded1 {
  height: 30rem;
  background-color: #f1cbcb;
  padding: 1rem;
  margin: 2rem;
  width: 35rem;
  border-style: groove; }

.container .rounded1 {
  width: 70%; }

.container__titulo {
  text-align: center; }

.container .img-fluid4 {
  height: 25rem;
  padding: 1rem;
  margin: 2rem;
  width: 25rem; }

.container .img-fluid5 {
  height: 25rem;
  padding: 1rem;
  margin: 2rem;
  width: 25rem; }

.container .img-fluid2 {
  max-width: 250px;
  height: auto; }

.container .img-fluid1 {
  height: 25rem;
  background-color: #f1cbcb;
  padding: 1rem;
  margin: 2rem;
  width: 25rem;
  border-style: groove;
  border-radius: 3rem; }

.container .img-fluid3 {
  width: 90%;
  height: 25rem;
  background-color: #f1cbcb;
  padding: 1rem;
  margin: 2rem;
  border-style: groove;
  border-radius: 3rem; }
  @media screen and (max-width: 768px) {
    .container .img-fluid3 {
      height: 150px; } }

/* nosotros */
.lista__items {
  display: list-item;
  font-size: 2rem; }

.imgnosotros {
  width: 200px !important;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* contacto */
.main__contacto {
  color: black;
  font-style: italic;
  text-align: center; }

.main__formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px; }
  .main__formulario input {
    width: 200px;
    margin: 1rem; }
  .main__formulario textarea {
    margin-bottom: 0.5rem; }

.main__velauno {
  background-color: #f1cbcb;
  padding: 10px;
  margin: 20px;
  width: 300px;
  border-color: black;
  border-style: groove;
  border-width: 5px; }

/* tienda */
.flex__transicions {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 10px; }

.boton {
  animation-duration: 4s;
  animation-name: animacion_boton;
  animation-iteration-count: inherit; }
  .boton .boton {
    background-color: beige;
    padding: 1rem;
    font-size: small; }

/* galería */
@keyframes animacion_boton {
  0% {
    width: 20%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

.boton {
  animation-duration: 4s;
  animation-name: animacion_boton;
  animation-iteration-count: inherit; }

.boton {
  background-color: beige;
  padding: 10px;
  font-size: small; }

.tienda__fotos {
  height: 30rem;
  background-color: #f1cbcb;
  padding: 1rem;
  margin: 2rem;
  width: 25rem;
  border-style: groove; }

.error404 {
  color: black;
  font-family: Dancing Script, italic;
  text-align: center;
  font-size: xx-large;
  align-items: center; }

@keyframes animacion_boton {
  0% {
    width: 20%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

.img-fluid4 {
  background-color: #dedcf5;
  border-radius: 3rem;
  border-style: groove; }
