@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.grid__container {
    display: grid;
    border: 5px solid $border-color;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    gap: 10px;
}



a {
    text-decoration: none;
    color: $color-letra-principal;
    font-style: italic;
    font-family: $font-principal;
    font-size: xx-large;

    & :hover {
        background-color: $color-principal;
        color: $color-letra-principal;
        transform: translate(10px);
    }

    & :visited {
        color: brown;
    }
}

.container-fluid {
    background-color: $color-principal;

}



h1 {
    color: $color-letra-principal;
    font-size: 3rem;
    font-style: italic;
    font-family: $font-principal;
    padding: none;
}

li {
    display: inline;
    padding: 1rem;
}

ul {
    list-style-type: none;

}


h2 {
    color: $color-letra-principal;
    font-style: italic;
    font-family: $font-principal;
    text-align: center;
    font-size: xx-large;
}

h3 {
    color: $color-letra-principal;
    font-size: 2rem;
    font-style: italic;
}


.main__informacion {
    grid-area: main;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    .carousel {
        width: 70%;
    }

    .carousel__velas {
        margin-left: 0%;
        margin-right: 0%;
    }

}

.section {
    &__canal {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__ubicacion {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.container {
    .rounded {
        height: 20rem;
        background-color: $color-principal;
        padding: 1rem;
        margin: 2rem;
        width: 25rem;
        border-style: groove;
    }

    .rounded1 {
        height: 30rem;
        background-color: $color-principal;
        padding: 1rem;
        margin: 2rem;
        width: 35rem;
        border-style: groove;
    }

    .rounded1 {
        width: 70%;
    }

    &__titulo {
        text-align: center;
    }

    .img-fluid4 {
        height: 25rem;
        padding: 1rem;
        margin: 2rem;
        width: 25rem;
    }

    .img-fluid5 {
        height: 25rem;
        padding: 1rem;
        margin: 2rem;
        width: 25rem;
    }

    .img-fluid2 {
        max-width: 250px;
        height: auto;
    }

    .img-fluid1 {
        height: 25rem;
        background-color: $color-principal;
        padding: 1rem;
        margin: 2rem;
        width: 25rem;
        border-style: groove;
        border-radius: 3rem;
    }

    .img-fluid3 {
        width: 90%;
        height: 25rem;
        background-color: $color-principal;
        padding: 1rem;
        margin: 2rem;
        border-style: groove;
        border-radius: 3rem;

        @media screen and (max-width:768px) {
            height: 150px;
        }
    }


}


/* nosotros */

.lista__items {
    display: list-item;
    font-size: 2rem;
}

.imgnosotros {
    width: 200px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* contacto */

.main {
    &__contacto {
        color: $color-letra-principal;
        font-style: italic;
        text-align: center;
    }

    &__formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 20px;

        input {
            width: 200px;
            margin: 1rem;
        }

        textarea {
            margin-bottom: 0.5rem;
        }
    }

    &__velauno {
        background-color: $color-principal;
        padding: 10px;
        margin: 20px;
        width: 300px;
        border-color: $border-color;
        border-style: groove;
        border-width: 5px;
    }
}


/* tienda */




.flex__transicions {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 10px;
}


.boton {
    animation-duration: 4s;
    animation-name: animacion_boton;
    animation-iteration-count: inherit;

    .boton {
        background-color: $background-color-boton;
        padding: 1rem;
        font-size: small;
    }
}

/* galería */


@keyframes animacion_boton {
    0% {
        width: 20%;

    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}


.boton {
    animation-duration: 4s;
    animation-name: animacion_boton;
    animation-iteration-count: inherit;

}

.boton {
    background-color: $background-color-boton;
    padding: 10px;
    font-size: small;
}

.tienda__fotos {
    height: 30rem;
    background-color: $color-principal;
    padding: 1rem;
    margin: 2rem;
    width: 25rem;
    border-style: groove;
}

.error404 {
    color: $color-letra-principal;
    font-family: $font-principal;
    text-align: center;
    font-size: xx-large;
    align-items: center;
}

@keyframes animacion_boton {
    0% {
        width: 20%;

    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

@mixin mixgaleria ($background-color, $border-radius) {
    background-color: rgb(222, 220, 245);
    border-radius: 3rem;
    border-style: groove;

}

.img-fluid4 {
    @include mixgaleria (rgb(222, 220, 245), 3rem);
}