/*colores*/

$color-principal:rgb(241, 203, 203);

/*tipos de letra*/

$font-principal: Dancing Script,
italic;
$color-letra-principal: black;

/*Border color*/
$border-color: black;

/*Boton*/
$background-color-boton: beige;